@media (min-width: 0px) and (max-width: 425px) {
    .banner img{
        width: 100%;
    }
    .map img{
        width: 100%;
    }
    .x h2{
        font-size: 28px;
    }
    .all-museums h2 {
        font-size: 28px;
    }
    .time {
        padding: 0px 10px;
    }
    .cat {
        position: relative;
        width: auto;
        height: auto !important;
        display: inline-block;
        max-width: 100%;
    }
   .cat img {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto!important;
        transition: 0.5s;
        transform: translateX(-50%);
   }
   .image-container{
        display:inline-block
   }
   .text-container{
    padding: 0;
   }
   .all-temples h2 {font-size: 28px;}
    .cat:hover {
        height: 400px;
    }
    .cat img:hover {
        height: 400px;
        left: 60%;
    }
    .content h2{
        font-size: 20px;
    }
    .content{
        padding: 20px 35px 20px 35px;
    }
    .content p {
        color: #fff;
        font-size: 14px;
    }
    .yg {
        display: inline-block !important;
    }
    .about-lakes h2 {
        font-size: 28px;
    }
    .all-lakes h2 {
        font-size: 28px;
    }
    h2 span {
        color: #f45c00;
        font-size: 28px;
        font-weight: 700;
    }
    .dance-section h2{
        font-size: 28px;
        font-weight: 600;
    }
    .dance-section p{
        line-height: 30px;
    }
    .map h2{
        font-size: 28px;
    }
    .explore-city h2{
        font-size: 28px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .cat img {
        width: 100%;
    }
    .cta img {
        height: 250px;
        width: 100%;
    }
    .cta .text p{
        font-size: 12px;
    }
    #fes {
        width: 100%;
        border-radius: 20px;
        height: auto;
    }
    .festive-content {
        padding: 0;
        text-align: left;
    }
}
@media only screen and (max-width:991px){
    .cat{
        position: relative;
        width:auto;
        display: inline-block;
        max-width:100%;
    }
    .cat img {height: auto;}
    .cat:hover{
        height: 400px;
    }
    .cat img:hover {
        height: auto;
        left: 50%;
    }
}
    .slick-list {
        overflow: hidden;
    }
    .slick-prev {
        display: none ! important;
    }
    .slick-next {
        display: none ! important;
    }
@media (min-width: 768px) and (max-width: 991px){
    .blog_tables table tr td {
        font-size: 14px;
    }
    .image-container {
        display: inline-block
    }
}